@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  height: 80%;
  width: 100%;
}

#bottomContainer {
  position: absolute;
  bottom: 0
}

.nliImage {
  width: 200px;
  height: auto;
}